$light: #fff;
$primary-color: #F29101;
// $primary-color: #13b1cd;
$secondary-color: #F29101;
$event-color: #3958B1;
$law-color: #3958B1;
$black: #F29101;
$border-color:#F2F2F2;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Poppins', sans-serif;
$extra-font:'Hind', serif;


// background color - #e8efff

// In the middle of landing page, there should be video using iframe (800x800)
// multimedia slide with first slide to be video and other 3-4 will be images of clould computing
// background: rgb(2,0,36);
// background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(0,131,176,1) 80%, rgba(0,131,176,1) 100%);
// rename blog to downloads
// new tab with why us

//compliance as a code
// implementing CaaC(compliance as a code) for cloud security


// Strategy: Define business justification and expected outcomes of adoption.	
// Plan icon	
// Plan: Align actionable adoption plans to business outcomes.

// Ready icon	
// Ready: Prepare the cloud environment for the planned changes.	
// Migrate icon	
// Migrate: Migrate and modernize existing workloads.

// Innovate icon	
// Innovate: Develop new cloud-native or hybrid solutions.	
// Govern icon	
// Govern: Govern the environment and workloads.

// Manage icon	
// Manage: Operations management for cloud and hybrid solutions.	
// Organize icon	
// Organize: Align the teams and roles supporting your organization's cloud adoption efforts.

//Loaft project
// make one new tab with products - done
// there should be 20 products on the page 5 per row same as ikea products
// on clicking particular product open new page with product details
// with slider on left and product details on right refer - https://bootstrapmade.com/demo/Hidayah/
// border shadows to all the products
